version: '3.8'
services:
  mongo:
    image: mongo:latest
    container_name: ai_task_dashboard_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

volumes:
  mongo_data:
